body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding:0;
    list-style:none;
    text-decoration: none;
}
.sidebar{
    position:fixed;
    left:0;
    width:250;
    height: 100%;
    background: #042331;
}
.sidebar header{
    font-size:22px;
    color:white;
    text-align: center;
    line-height: 70px;
    background:#042331;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .2s;


}
.sidebar ul li:hover a{
    padding-left:50px;
    color: rgba(145, 145, 145);
    text-shadow: 3px 3px black;

}
.sidebar{
    border-right:50px;
}

.titulo{
    
    margin-left: 500px;
    background-color: #042331;
    height: 65px;
    width: 900px;
}

.titulot{
    margin-left: 100px;
    font-size: 50px;
    color: white;
}

.medium1{
    margin-left: 35%;
    width: 850px;
    height: 500px;
}
